body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
aside {
    float: right;
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.link-fix, .link-body {
    text-decoration: none;
}

.link-fix {
    color: #fff;
}

.link-body {
    color: #181818;
}